<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/ceims"/>
                <property name="username" value="root"/>
                <property name="password" value="991011"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="edu/njust/mapper/UserMapper.xml"/>
        <mapper resource="edu/njust/mapper/EverydayReportMapper.xml"/>
        <mapper resource="edu/njust/mapper/EverydayRespondMapper.xml"/>
        <mapper resource="edu/njust/mapper/OutReportMapper.xml"/>
        <mapper resource="edu/njust/mapper/TourMapper.xml"/>
        <mapper resource="edu/njust/mapper/NationalMapper.xml"/>
        <mapper resource="edu/njust/mapper/CampusMapper.xml"/>
    </mappers>
</configuration>